<li class="{{view}} alt" data-url="/{{stub}}">
    <div class="item-wrap">
        <div class="image" style="background-image:url({{image}})"></div>
        <div class="content-wrap">
            <h2><a href="/{{stub}}">{{name}}</a></h2>
            <div class="content">        
                {{#if snapshot.posts}}                
                <ul class="links">
                {{#each snapshot.posts}}                
                    <li>
                        <span class="text">
                            <a href="/{{forum}}/{{id}}">{{title}}</a><br />
                            <span class="light-text">{{createdBy.name}}</span>
                        </span>
                    </li>
                {{/each}}
                </ul>
                {{/if}}
            </div>
            <div class="overlay"></div>
        </div>
    </div>
</li>

