<li>
    <div class="card-face">
        <div style="background-image:url({{image}})" class="image"></div>
    </div>
    <div class="card-content">
        <h2><a href="/{{stub}}">{{name}}</a></h2>
        {{#if snapshot.posts}}
        <ul class="text-block content">
            {{#each snapshot.posts}}                
            <li>
                <a href="/{{../stub}}/{{stub}}">{{title}}</a><br />
                <p class="light-text">by {{createdBy.name}}</p> 
            </li>
            {{/each}}
        </ul>
        {{else}}
        <div class="text-block content">
            <p>{{description}}</p>
            <p class="light-text">edited by {{createdBy.name}}</p> 
        </div>
        {{/if}}
    </div>
</li>

