<li class="{{view}} alt" data-url="/{{stub}}">
    <div class="item-wrap">
        <div class="content-wrap">
            <div class="image" style="background-image:url({{image}})"></div>        
            <h2><a href="/{{stub}}">{{name}}</a></h2>
            <div class="content">        
                {{#if snapshot.records}}                
                <ul class="desc-text">
                {{#each snapshot.records}}                
                    <li>
                        <a href="/{{../stub}}/{{stub}}">{{title}}</a><br />
                        <span class="italicize">{{createdBy.name}}</span>
                    </li>
                {{/each}}
                </ul>
                {{/if}}
            </div>            
        </div>
        <div class="card-info">
            <div class="overlay"></div>
        </div>
    </div>
</li>

