<script type="text/javascript">
    page = new Fora.Views.Forums.Item({{{forumJson}}});
</script>
<div class="columns-wrap">
    <div class="content-area">    
        <h1>{{forum.name}}</h1>
        {{#if message}}
        <div class="content-sections">
            <div class="normal">
                {{{message}}}
            </div>
        </div>
        {{/if}}
        <div class="nav alt">
            <ul>
                <li class="selected">
                    Recommended
                </li>
                <li>
                    <a href="/{{forum.stub}}/latest">Upcoming</a>
                </li>            
                <li>
                    <a href="/{{forum.stub}}/about">About</a>
                </li>          
            </ul>
            {{#if user}}
            <ul class="alt buttons">
                {{#unless options.isMember}}
                <li>
                    <a href="#" class="positive join-forum"><i class="fa fa-user"></i>Join Forum</a>
                </li>
                {{else}}
                <li>
                    <a href="#" class="positive new-record"><i class="fa fa-plus"></i>New {{options.primaryRecordType}}</a>
                </li>
                {{/unless}}
            </ul>
            {{/if}}
        </div>
        {{#if records}}
            <ul class="cards">
            {{#each records}}
                <li>
                {{{html}}}
                </li>
            {{/each}}
            </ul>
        {{/if}}   
    </div>
</div>

