<li>
    <div class="card-face">
        <div style="background-image:url({{image}})" class="image"></div>
    </div>
    <div class="card-content">
        <h2><a href="/{{stub}}">{{name}}</a></h2>
        {{#if cache.posts}}
        <ul class="text-block content">
            {{#each cache.posts}}                
            <li>
                <a href="/{{../stub}}/{{stub}}">{{title}}</a><br />
                <p class="downsize-text italics">by {{createdBy.name}}</p> 
            </li>
            {{/each}}
        </ul>
        {{else}}
        <div class="text-block content">
            <p>{{description}}</p>
            <p class="downsize-text italics">edited by {{createdBy.name}}</p> 
        </div>
        {{/if}}
    </div>
</li>

