<!DOCTYPE html>
<html>
  <head>
    {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>The Fora Project</title>
    {{/if}}
    <!-- CSS -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700|PT+Serif:400italic,700italic,400,700|Oswald' rel='stylesheet' type='text/css' />
    <link href="/lib/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen" />
    <link href="/css/HINT.css" rel="stylesheet" media="screen" />
    <link href="/css/toggle-switch.css" rel="stylesheet" media="screen" />
    <link href="/css/main.css" rel="stylesheet" media="screen" />
    
    <!-- other JS -->
    <script src="/js/lib/jquery-min.js"></script>
    <script src="/js/lib/angular-min.js"></script>    

    <script src="/js/lib/jquery-cookie.js"></script>
    <script src="/lib/bangjs/jquery-drags.js"></script>
    <script src="/lib/bangjs/reMarked.js"></script>
    <script src="/lib/bangjs/bangjs.js"></script>
    <script src="/lib/bangjs/bangjs-toolbar.js"></script>

    <script src="/js/main.js"></script>    

    <!-- Views -->
    <script src="/js/views/baseview.js"></script>    
    <!-- Home -->
    <script src="/js/views/home/index.js"></script>    
    
             
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  </head>
  <body class="{{pageName}} {{pageType}}">

    <!-- header -->
    <div class="header">
        <div class="logo">
            Fora
        </div>
    </div>

    <!-- cover -->
    {{#equals pageType "cover-page"}}
    <div class="cover" style="background-image:url({{cover}})">
    {{coverContent}}
    </div>
    {{/equals}}

    <!-- content -->
    <div class="container">
        <div class="page-wrap">
            {{{body}}}
        </div>
    </div>

  </body>
</html>     
