<!DOCTYPE html>
<html>
  <head>
    {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>The Fora Project</title>
    {{/if}}
    <!-- CSS -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Crimson+Text:400,600,400italic|Oswald' rel='stylesheet' type='text/css' />
    <link href="/lib/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen" />
    <link href="/css/HINT.css" rel="stylesheet" media="screen" />
    <link href="/css/toggle-switch.css" rel="stylesheet" media="screen" />
    <link href="/css/main.css" rel="stylesheet" media="screen" />
    <link href="/lib/medium-editor/css/medium-editor.css" rel="stylesheet" media="screen" />
    <link href="/lib/medium-editor/css/themes/default.css" rel="stylesheet" media="screen" />
    
    <!-- other JS -->
    <script src="/lib/jquery-min.js"></script>
    <script src="/lib/leanmodal.js"></script>
    <script src="/lib/jquery-cookie.js"></script>
    <script src="/lib/react.min.js"></script>

    <!-- App -->
    <script src="/js/css.js"></script>
    <script src="/js/debug.js"></script>    
    <script src="/js/main.js"></script>    
    <script src="/js/jquery-extensions.js"></script>    
    <script src="/js/utils.js"></script>    

    <!-- Fora Editor -->
    <script src="/lib/medium-editor/js/medium-editor.js"></script>
    <script src="/lib/fora-editor/foraeditor.js"></script>
    <script src="/lib/fora-editor/text.js"></script>
    <script src="/lib/fora-editor/image.js"></script>
    <script src="/lib/fora-editor/selectable.js"></script>
  
    <!-- Views -->
    <script src="/js/views/validator.js"></script>
    <script src="/js/views/baseview.js"></script>
    <script src="/js/views/forums/item.js"></script>
    <script src="/js/views/forums/new.js"></script>
    <script src="/js/views/users/login.js"></script>
    <script src="/js/views/posts/post.js"></script>
             
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  </head>
  <body class="{{pageName}}{{#if theme}} {{theme}}{{/if}}">

    <!-- header -->
    <div class="header">
        <a href="#" class="logo">
            Fora
        </a>
    </div>
    
    <div class="site-options">    
        <ul>
            <li><a href="/"><i class="fa fa-home"></i>Home</a></li>  
            <li><a href="/forums"><i class="fa fa-list"></i>Forums</a></li>              
            <li class="account"></li>  
        </ul>
        <div class="transparent-overlay">
        </div>
    </div>

    {{{body}}}

  </body>
</html>     
