<!DOCTYPE html>
<html>
    <head>
        {{#if title}}
        <title>{{title}}</title>
        {{else}}
        <title>The Fora Project</title>
        {{/if}}

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700|Lato:900|Crimson+Text:400,600,400italic|Oswald' rel='stylesheet' type='text/css' />
        <link href="/css/lib.css" rel="stylesheet" media="screen" />
        <link href="/css/main.css" rel="stylesheet" media="screen" />    
        <script src="/js/vendor.js"></script>
        <script src="/js/lib.js"></script>
        <script src="/js/bundle.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        </head>
    <body class="{{pageName}}{{#if theme}} {{theme}}{{/if}}">

    <!-- header -->
    <header class="site">
        <a href="#" class="logo">
            Fora
        </a>
    </header>

    <div class="site-options">    
        <ul>
            <li><a href="/"><i class="fa fa-home"></i>Home</a></li>  
            <li><a href="/forums"><i class="fa fa-list"></i>Forums</a></li>              
            <li class="account"></li>  
        </ul>
        <div class="transparent-overlay">
        </div>
    </div>

    {{{body}}}
    
    </body>
</html>     
