<!DOCTYPE html>
<html>
  <head>
    {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>The Fora Project</title>
    {{/if}}
    <!-- CSS -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700|Lato:900|Crimson+Text:400,600,400italic|Oswald' rel='stylesheet' type='text/css' />
    <link href="/lib/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen" />
    <link href="/css/HINT.css" rel="stylesheet" media="screen" />
    <link href="/css/toggle-switch.css" rel="stylesheet" media="screen" />
    <link href="/css/main.css" rel="stylesheet" media="screen" />
    
    <!-- other JS -->
    <script src="/js/lib/jquery-min.js"></script>
    <script src="/js/lib/leanmodal.js"></script>
    <script src="/js/lib/angular-min.js"></script>    
    <script src="/js/lib/jquery-cookie.js"></script>

    <!-- App -->
    <script src="/js/main.js"></script>    

    <!-- Editor -->
    <script src="/lib/ckeditor/ckeditor.js">
    <script src="/js/editors/reMarked.js"></script>
    <script src="/js/editing/editor.js"></script>
    <script src="/js/editing/image.js"></script>
    <script src="/js/editing/text.js"></script>
  
    <!-- Views -->
    <script src="/js/views/validator.js"></script>
    <script src="/js/views/baseview.js"></script>
    <script src="/js/views/forums/item.js"></script>
    <script src="/js/views/forums/create.js"></script>
    <script src="/js/views/users/selectusername.js"></script>
    <script src="/js/views/posts/post.js"></script>
             
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  </head>
  <body class="{{pageName}} {{pageLayout.type}}">

    <!-- header -->
    <div class="header">
        <a href="#" class="logo">
            Fora
        </a>
    </div>
    
    <div class="site-options">    
        <ul>
            <li><a href="/"><i class="icon-home"></i>Home</a></li>  
            <li><a href="/forums"><i class="icon-comments"></i>Forums</a></li>              
            <li class="account"></li>  
        </ul>
        <div class="transparent-overlay">
        </div>
    </div>

    <!-- cover -->
    {{#if pageLayout.cover}}
    <div class="cover">
        <div class="image" style="background-image:url({{pageLayout.cover.image.src}})">
            <div class="content-wrap">
                <div class="underlay" style="{{#if pageLayout.cover.bgColor}}background:{{pageLayout.cover.bgColor}};{{/if}}{{#if pageLayout.cover.opacity}}opacity:{{pageLayout.cover.opacity}};{{/if}}">
                </div>
                {{#if pageLayout.coverContent}}
                <div class="content">
                {{{pageLayout.coverContent}}}
                </div>
                {{/if}}
            </div>
        </div>
    </div>
    {{/if}}

    <!-- content -->
    {{{body}}}

  </body>
</html>     
