<script type="text/javascript">
    new Fora.Views.PostTypes.Article({{postJson}});
</script>
<div class="page-wrap">
    <div class="content-area">    
        <div class="item text">
            <img class="cover" src="{{post.cover}}" alt="{{post.coverTitle}}" />            

            <h1>{{post.title}}</h1>

            <div class="small-page-element tiny-page-element">
                <div class="iconic-desc sub-heading">            
                    <img src="{{author.assetPath}}/{{author.username}}_t.jpg" alt="{{author.name}}" />
                    <span class="text">
                        <a href="/~{{author.username}}">{{author.name}}</a><br />
                        <span class="light-text">Yesterday in <a href="/{{forum.stub}}">{{forum.name}}</a></span>
                    </span>                
                </div>
            </div>

            <div class="content">
                {{{content}}}
            </div>
        </div>
        <div class="sidebar large-page-element">            
            <div class="header">
                <img src="{{author.assetPath}}/{{author.username}}.jpg" alt="{{author.name}}" />
                <h2>{{author.name}}</h2>
            </div>
            <p>
                {{author.about}}
            </p>
            <p>
                <span class="light-text">Yesterday in <a href="/{{forum.stub}}">{{forum.name}}</a></span>                
            </p>
            <p>
                {{#if editable}}
                <button class="positive">Edit Post</button>
                <button><i class="icon-cog"></i>Settings</button>
                {{/if}}
            </p>
        </div>          
    </div>
</div>

