<li class="{{view}}" data-url="/{{forum.stub}}/{{_id}}">
    {{#if image}} 
    <div class="image" style="background-image:url({{image}})"></div>
    {{/if}}
    <div class="content-wrap">
        <h2><a href="/{{forum.stub}}/{{_id}}">{{title}}</a></h2>
        <div class="content">
            {{{content}}}
        </div>
        <p class="source">
            <img src="{{createdBy.id}}" alt="{{createdBy.name}}" />
            <a href="{{userUrl createdBy}}" class="author">{{createdBy.name}}</a> in <a href="/{{forum.stub}}">{{forum.name}}</a>
        </p>
    </div>
</li>

