<script type="text/javascript">
    new Fora.Views.Users.Login("{{token}}");
</script>

<div class="single-section-page">

    <div class="cover full-cover fixed">
        <div class="image" style="background-image:url(/images/cover.jpg)">
            <div class="underlay" style=""></div>
            <div class="content-wrap">
                
                <div class="content" style="">
                <p>
                    &ldquo;On the Internet, nobody knows you're a dog.&rdquo;
                </p>
                </div>
                
            </div>
        </div>
    </div>
    
    <div class="main-pane">
        <div class="content-area item small">
            {{#if users}}
            <h2>Sign in as</h2>


            {{#if single}}
            <ul class="selectable icon-block row-layout cells">
            {{#each users}}
                <li data-username="{{username}}">
                    <div class="icon">
                        <img class="seal upsize" src="{{image}}">
                    </div>
                    <div class="text content">
                        <h3>{{name}}</h3>
                        <p>{{about}}</p>
                    </div>
                </li>
            {{/each}}
            </ul>
            {{else}}
            <ul class="selectable concise-icon-block float-layout cells">
            {{#each users}}
                <li data-username="{{username}}" class="col-span span1 height2">
                    <div class="icon">
                        <img class="seal upsize" src="{{image}}">
                    </div>
                    <div class="text content">
                        <h4>{{username}}</h4>
                        <p class="subtext">{{name}}</p>
                    </div>
                </li>
            {{/each}}
            </ul>
            {{/if}}


            <h2>...or create another</h2>                    
            {{else}}            
            <h2>Create a new persona...</h2>
            {{/if}}
            <div class="icon-block xupsize-text content" id="create-user-form" >
                <div class="icon picture" data-src="/public/images/0/user.jpg" data-small="/public/images/0/user_t.jpg">
                    <img class="seal upsize" src="/images/user-default.png"><br />
                    <a href="#">change</a>
                </div>
                <div class="text">
                    <ul class="lined-fields">
                        <li class="username" data-suggestion="{{nickname}}">
                        </li>
                        <li class="fullname">
                        </li>
                        <li class="about">
                        </li>
                    </ul>
                    <p>
                        <button class="create">Create <i class="fa fa-caret-right"></i></button>
                    </p>
                </div>
            </div>                                        
        </div>     
    </div>    
</div>


