<script type="text/javascript">
    new Fora.Views.Users.Login();
</script>

<div class="single-section-page">

    <div class="cover full-cover fixed">
        <div class="image" style="background-image:url(/images/cover.jpg)">
            <div class="underlay" style=""></div>
            <div class="content-wrap">
                
                <div class="content" style="">
                <p>
                    &ldquo;On the internet, nobody knows you are a dog.&rdquo;
                </p>
                </div>
                
            </div>
        </div>
    </div>
    
    <div class="main-pane">
        <div class="content-area item editor">
            {{#if users}}
                <h2>Choose an identity</h2>
                <ul class="selectable iconic cells">
                {{#each users}}
                    <li>
                        <div class="icon">
                            <img class="seal size-l" src="{{image}}">
                        </div>
                        <div class="text">
                            <h3>{{name}}</h3>
                            <p>{{about}}</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <img class="seal size-l" src="{{image}}">
                        </div>
                        <div class="text">
                            <h3>{{name}}</h3>
                            <p>{{about}}</p>
                        </div>
                    </li>
                {{/each}}
                </ul>
            {{else}}            
                <h2>Welcome, you are...</h2>
                <p>
                    Since you are logging in for the first time, create a persona below.
                </p>
                <div class="form">
                    <img src="#" style="float: left" />
                    <div>
                        <p>
                            Your Name
                        </p>
                        <p>
                            Write something about yourself
                        </p>
                    </div>                
                </div>
            {{/if}}
        </div>            
    </div>    
</div>


