<script>
    view = new Fora.Views.Articles.Item()
</script>
<div class="page-wrap">
    <div class="content-area">    
        <div class="item text">
            {{#if article.cover}} 
            <img class="cover" src="{{article.cover}}" alt="{{article.coverTitle}}" />
            {{/if}}
            <h1>{{article.title}}</h1>
            <div class="iconic-desc sub-heading small-page-element tiny-page-element">            
                <img src="{{user.assetPath}}/{{user.domain}}-{{user.username}}_t.jpg" alt="{{user.name}}" />
                <span class="text">
                    <a href="{{userUrl user}}">{{user.name}}</a><br />
                    <span class="light-text">Posted yesterday in <a href="/{{forum.stub}}">{{forum.name}}</a></span>
                </span>                
            </div>
            <div class="content">
                {{{article.formattedContent}}}
            </div>          
        </div>
        <div class="sidebar large-page-element">            
            <div class="header">
                <img src="{{user.assetPath}}/{{user.domain}}-{{user.username}}.jpg" alt="{{user.name}}" />
                <h2>{{user.name}}</h2>
            </div>
            <p>
                {{user.about}}
            </p>
            <p>
                <span class="light-text">Posted yesterday in <a href="/{{forum.stub}}">{{forum.name}}</a></span>                
            </p>
        </div>          
    </div>
</div>

